[credential]
	helper = osxkeychain
[user]
	name = Sebastian Fürle
	email = sebastian@footballaddicts.com
[diff]
    	algorithm = patience
[core]
	excludesfile = /Users/seb/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
