Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Repos/
.Trash/

data/
src/

Dropbox/

# secret configuration
.aws
.aws.d
.config
.gnupg
.heroku
.irssi
.mutt
.muttrc
.s3cfg
.ssh
.vagrant
.vagrant.d

# debris
.bundle
.bundler
.cache
.certs
.cups
.dbshell
.dsh
.erlang.cookie
.fontconfig
.gdb_history
.gem
.ghc
.gnuplot_history
.htoprc
.ipython
.irb-save-history
.irb_history
.lesshst
.links
.local
.matplotlib
.pip
.psql_history
.pydistutils.cfg
.pylint.d
.pypirc
.python-eggs
.pythonhist

.*_history
.lesshst

.config/

# auth and secrets etc
.aws/
.gnupg/
.ssh/

# apps etc
.dropbox
.hex
.mix